<div class="card bg-light transfer_form_email">
  <div class="card-body">
    <div class="form-group">
    <%= label "", "Transferee's Email" %>
    <%= text_field :booking, :user_email, class:"email_field form-control" %>
    <%= button_tag "Submit", class: "btn btn-primary float-right mt-4" %>
    </div>
  </div>
</div>
